@font-face {
  font-family: "iconfont"; /* Project id 4492647 */
  src: url('//at.alicdn.com/t/c/font_4492647_hsq96gjrly6.woff2?t=1727079180512') format('woff2'),
       url('//at.alicdn.com/t/c/font_4492647_hsq96gjrly6.woff?t=1727079180512') format('woff'),
       url('//at.alicdn.com/t/c/font_4492647_hsq96gjrly6.ttf?t=1727079180512') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
  content: "\e8ad";
}

.icon-shibai:before {
  content: "\e8b8";
}

.icon-suoxiao:before {
  content: "\e600";
}

.icon-quanping:before {
  content: "\e601";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-wenzhang-copy:before {
  content: "\e643";
}
